@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,400&display=swap');
 body {
  margin: 0;
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 70%;
  margin: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
li , ul {
  list-style: none;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px ;
 padding: 22px 0;
}
.ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.ul li{
  padding: 5px 11px ;
  margin: 0 7px ;
  font-weight: 800;
  cursor: pointer;
}
.haro{
  background-color: white;
  display: flex;
  
  justify-content: space-between;
}
.l{
  width: 50%;
  height: 100vh;
  background-color: transparent;
  flex: 1;
}
.l img{
 
  width: 500px ;
  height: 500px;
  background-color: transparent;
  background-position: center;
  margin-top: 60px;
}
.r {
  flex: 1;
  margin-top: 160px;
}
.h1{
  line-height: 1.1em;
    font-size: 80px;
}
.h3{
  font-size: 23px;
  
  line-height: 1.3em;
  margin: 33px 0;
}
.btn{
  padding: 22px 33px ;
  background-color: rgb(52, 143, 222);
  font-size: 33px;
  outline: none;
  border-radius: 22px ;
  color: white;
  margin: 11px 1px 
  ;
}
.about{
  line-height: 1.1em;
  font-size: 80px;
  border-bottom: 1px solid black;
padding-bottom: 14px;
width: 348px;
margin-top: 30px ;
}
p{
  line-height: 1.4;
  margin-top: 40px ;
}

.span{
  height: 3px ;
  width: 100px ;
  background-color: red;
  color: red;
}